* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

main {
  display: flex;
}

main img {
  display: flex;
  margin-left: 5.12rem;
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 3.375rem;
  letter-spacing: 0.105em;
  text-transform: uppercase;

  color: #6c63ff;
}

button {
  all: unset;
  width: 10rem;
  height: 2.87rem;
  border: 0.06rem solid #6c63ff;

  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;

  background: #6c63ff;
  border-radius: 0.625rem;

  color: #ffffff;
}

p {
  font-family: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.313rem;
  color: #9c9ab6;

  margin-bottom: 1.938rem;
  text-align: center;
}

section {
  margin-left: 7.5rem;
  text-align: center;
}

#tempo {
  display: flex;
  justify-content: space-around;
  font-style: normal;
  font-weight: 400;
  font-size: 4.5rem;
  line-height: 6.75rem;
  color: #4d4c59;
}

#algo {
  display: flex;
  justify-content: space-around;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.313rem;

  color: #c8c8c8;
}
